:global(.dark-mode){
  .container{
    width: 100%;
    height: 100%;
  
    background-image: url('/images/background_dark.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    transition: background-image 0.2s;

    @media (max-width: 720px){
      background-image: url('/images/background_mobile_light.png');
    }

    .content{
      .apresentation{
        padding: 4.3rem 1rem;
      }
    }
  }
}

.container{
  width: 100%;
  height: 100%;

  background-image: url('/images/background_light.png');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;

  transition: background-image 0.2s;

  @media (max-width: 720px){
    background-image: url('/images/background_mobile.png');
  }

  .substract{
    width: 100%;
    height: 100%;

    background-image: url('/images/substract.png');
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
  };

  .content{
    width: 100%;
    height: 100%;
    padding: 10px 20px 100px 20px;

    display: flex;
    justify-content: space-between;

    transition: padding 0.2s;

    @media (max-width: 1200px){
      justify-content: center;
      align-items: center;
      flex-direction: column;

      padding: 30px 20px;
    }
    @media (max-width: 700px){
      padding: 10px 10px;
    }

    .apresentation{
      width: 100%;
      height: 100%;
      padding: 3.5rem 1rem;
    }

    .banner{
      width: 100%;
      height: 100%;
      border-radius: 15px;

      @media (max-width: 1200px){
        width: 80%;
        height: 80%;
        border-radius: 20px;
      }

      img{
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .boxBot{
      height: 93px;
      width: 25rem;

      display: flex;
      align-items: center;
      justify-content: flex-start;

      padding: 0 1rem;
      border-radius: 15px;
      margin: 2rem 2rem;

      background-color: var(--white);
      cursor: pointer;
      transition: transform 0.2s;

      @media (max-width: 800px){
        width: 100%;
      }

      &:hover{
          transition: transform 0.2s;
          transform: scale(1.01);
          img{
              transform: scale(1.02);
          }
      }

      p{
          color: var(--black);
          margin-left: 1rem;
          font-family: 500;
      }

      @media (min-width: 1200px){
          display: none;
      }
  }

  .links{
      display: flex;
      align-items: center;
      justify-content: flex-start;

      @media (max-width: 600px){
        flex-direction: column;
      }

      a{
          cursor: pointer;
          & + a{
              margin-left: 1rem;
          }

          transition: transform 0.2s;
          &:hover{
              transform: scale(1.04);
          }
      }

      a{
        @media (max-width: 600px){
          & + a{
            margin-top: 1rem;
          }
        }
      }

      img:nth-child(3){
          margin-top: 0.3rem;
      }
      img:last-child{
          margin-top: 0.2rem;
      }

      @media (min-width: 1200px){
        display: none;
    }
  }
  }
}