.container{
  width: 100%;
  height: 100%;

  background-image: url('/images/background_light.png');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;

  transition: background-image 0.2s;

  @media (max-width: 720px){
    background-image: url('/images/background_mobile.png');
  }

  .substract{
    width: 100%;
    height: 100%;

    background-image: url('/images/substract.png');
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
  };

  .content{
    width: 100%;
    height: 100%;
    padding: 50px 111px;

    display: flex;
    justify-content: space-between;

    transition: padding 0.2s;

    @media (max-width: 1200px){
      justify-content: center;
      align-items: center;
      flex-direction: column;

      padding: 30px 30px;
    }
    @media (max-width: 700px){
      padding: 10px 10px;
    }
  }
}