.container{
    width: 100%;
    height: 100%;

    background: var(--background-darkmode);

    .content{
        width: 100%;
        height: 100%;

        padding: 2rem 2.93rem;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .left{
            flex: 1;
            height: 100%;
            .calculator{
                width: 100%;
                height: 66px;
                display: flex;
                justify-content: center;
                align-items: center;

                background-color: var(--background-button-calculator);
                border: 1px solid var(--blue-120);

                box-shadow: inset 0px 0px 40px rgba(0, 31, 53, 0.5);

                border-radius: 10px;

                img{
                    object-fit: contain;
                }

                p{
                    margin-top: 0.8rem;
                    margin-left: 1rem;
                    font-size: 16px;
                }

                transition: filter 0.2s;

                &:hover{
                    filter: brightness(0.9);
                }
            }
        }
        .right{
            flex: 5;
            height: 100%;
            padding: 1rem 2rem;

            header{
                width: 100%;

                display: flex;
                justify-content: center;

                .headerGame{
                    width: 100%;
                    height: 70px;
                    flex: 4;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    border-radius: 7px;

                    button{
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        background-color: transparent;
                        border: none;

                        padding: 0 2rem;
                        p{
                            margin-top: 1.65rem;
                            font-size: 16px;
                            font-weight: 400;
                        }

                        div{
                            width: 100%;
                            height: 10px;
                            border-radius: 5px 5px 0 0;

                            background-color: var(--light);
                        }

                        transition: background-color 0.2s;

                        &:hover{
                            background-color: var(--blue-500);
                        }
                    }

                    label{
                        width: 30px;
                        height: 30px;
                        border-radius: 5px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        background-color: var(--background-button-icon);

                        cursor: pointer;
                        transition: filter 0.2s;

                        &:hover{
                            filter: brightness(0.8);
                        }
                    }
                }

                .date{
                    width: 100%;
                    height: 70px;
                    flex: 1;
                    margin-left: 2rem;
                    border-radius: 7px;
                    padding: 0 0.5rem;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    label{
                        width: 30px;
                        height: 30px;

                        display: flex;
                        align-items: center;

                        border-radius: 5px;
                        justify-content: center;

                        background-color: var(--background-button-icon);

                        cursor: pointer;
                        transition: filter 0.2s;

                        &:hover{
                            filter: brightness(0.8);
                        }
                    }

                    p{
                        width: 100%;
                        margin-top: 0.8rem;
                        font-weight: 500;
                        font-size: 17px;
                        margin-left: 1.1rem;
                        padding: 0 0.5rem;
                    }
                }
            }
            main{
                width: 100%;
                height: calc(100% - 70px);

                margin: 2rem 0;
                padding: 2rem;
                border-radius: 10px;


                .games{
                    width: 100%;
                    height: 100%;
                    padding: 2rem 0;

                    header{
                        width: 20rem;
                        height: 60px;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;

                        img{
                            width: 98px;
                            height: 98px;
                            z-index: 2;

                            object-fit: contain;
                        }

                        div{
                            width: 100%;
                            height: 100%;
                            position: relative;
                            right: 1rem;
                        }

                        p{
                            margin-top: 1.1rem;
                            font-size: 17px;
                            font-weight: bold;
                            font-style: italic;
                            margin-left: 2rem;
                        }
                    }
                }
            }
        }
    }

    footer{
        padding: 2rem 6.9rem;
    }

    .footer{
        width: 100%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 2rem 6.93rem;

        background-color: var(--background-footer-2);

        p{
            margin-top: 0.8rem;
        }

        div{
            display: flex;
            align-items: center;
            justify-content: space-between;

            p{
                & + p{
                    margin-left: 1rem;
                }
            }

            div{
                display: flex;
                align-items: center;
                justify-content: space-between;

                label{
                    width: 25px;
                    height: 25px;
                    border-radius: 15px;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    cursor: pointer;

                    margin-left: 1rem;

                    background-color: var(--white);
                }
            }
        }
    }
}