.container{
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;

    .top{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        p{
            font-size: 18px;
            font-weight: 600;
            color: var(--white);

            margin-right: 1.2rem;
        }
    }

    .content{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        img{
            width: 30px;
            height: 30px;

            position: absolute;
            right: 18.2rem;
            top: 26.3rem;
            object-fit: cover;
            @media (max-width: 1200px){
                right: 12.6rem;
                top: 71.9rem;
            }
        }


        .box{
            width: 100%;
            height: 4em;
            padding: 0.5rem 1rem;
            display: flex;
            justify-content: space-between;

            border-radius: 15px;

            background: rgba(16, 16, 16, 0.2);

            & + div{
                margin-top: 0.5rem;
            }

            div:first-child{
                display: flex;
                padding: 0 0.1rem;

                div:first-child{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    label{
                        width: 6px;
                        height: 1.3rem;
                        border-radius: 30rem;
                        background-color: var(--red-800);
                    }
                }

                div:last-child{
                    display: flex;
                    flex-direction: column;
                    margin-left: 1.6rem;
                    line-height: 14px;

                    p:first-child{
                        font-weight: 500;
                    }
                    p:last-child{
                        font-weight: 500;
                    }
                }
            }

            div:last-child{
                button:first-child{
                    width: 4rem;
                    height: 100%;

                    background: var(--green-700-transparent);
                    color: var(--green-700);

                    font-weight: 600;

                    font-size: 18px;

                    border-radius: 5px;
                    border: none;
                }
                button:last-child{
                    width: 4rem;
                    height: 100%;

                    background: var(--red-800-transparent);
                    color: var(--red-800);

                    font-weight: 600;
                    font-size: 18px;

                    border-radius: 5px;
                    border: none;

                    margin-left: 0.6rem;
                }
            }
        }
    }
}