.containera{
    width: 100%;
    height: 70px;

    background: rgb(1,68,116);
    background: linear-gradient(90deg, rgba(1,68,116,1) 0%, rgba(0,214,243,0.78) 11%, rgba(1,68,116,1) 31%);

    transition: background 0.2s;

    z-index: 999;

    .content{
        width: 100%;
        height: 100%;

        padding: 0 6.93rem;

        display: flex;
        justify-content: space-between;
        align-items: center;

        transition: padding 0.2s;

        @media (max-width: 1300px){
            padding: 0 2.93rem;
        }

        @media (max-width: 1170px){
            display: none;
        }

        h4{
            font-weight: 600;
            font-size: 30px;
            margin-top: 0.5rem;
            color: var(--white);
        }

        select{
            height: 43px;
            padding: 0 1rem;

            color: var(--white);
            border: transparent;
            outline: none;
            cursor: pointer;
            
            background: transparent;
            /* Note: backdrop-filter has minimal browser support */
            
            & + select{
                margin-left: 1rem;
            }

            option{
                color: var(--black);
            }
        }

        button{
            width: 6.3rem;
            height: 43px;
            padding: 0 1rem;
            margin-left: 1rem;
            border-radius: 10px;
            color: var(--white);

        }
        button:nth-child(2){
            background-color: var(--blue-450);
            border: 1px solid var(--blue-150);
        }
        button:last-child{
            background-color: transparent;
            border: 1px solid var(--white);
        }

        .left{
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            :global{
                .ant-select-selector{
                    background-color: transparent;
                    border: none;
                }
                .ant-select-arrow{
                    color: var(--white);
                }
            }
        }

        .right{
            height: 100%;
            display: flex;
            align-items: center;

            .links{
                display: flex;
                height: 100%;
                padding: 1.5rem 0;

                a{
                    height: 100%;
                    display: flex;
                    font-size: 14px;
                    align-items: center;

                    padding: 0 1rem;
                    & + a{
                        border-left: 2px solid #005593;
                    }

                    &:last-child{
                        margin-right: 3.31rem;
                        transition: margin-right 0.2s;

                        @media (max-width: 1330px){
                            margin-right: 1.31rem;
                        }
                    }
                }
            }
        }

    }

    .contentMobile{
        width: 100%;
        height: 100%;
        padding: 0 6.93rem;

        display: flex;
        justify-content: space-between;
        align-items: center;

        transition: padding 0.2s;

        @media (min-width: 1170px){
            display: none;
        }

        @media (max-width: 1170px){
            padding: 0 2.93rem;
        }

        h4{
            font-weight: 600;
            font-size: 25px;
        }
    }
}

.container{
    width: 100%;
    height: 70px;
    position: fixed;

    .content{
        width: 100%;
        height: 100%;

        padding: 0 6.93rem;

        display: flex;
        justify-content: space-between;
        align-items: center;

        transition: padding 0.2s;

        @media (max-width: 1300px){
            padding: 0 2.93rem;
        }

        @media (max-width: 1170px){
            display: none;
        }

        h4{
            font-weight: 600;
            font-size: 30px;
            margin-top: 0.5rem;
            color: var(--white);
        }

        select{
            height: 43px;
            padding: 0 1rem;

            color: var(--white);
            border: transparent;
            outline: none;
            cursor: pointer;
            
            background: transparent;
            /* Note: backdrop-filter has minimal browser support */
            
            & + select{
                margin-left: 1rem;
            }

            option{
                color: var(--black);
            }
        }

        button{
            width: 6.3rem;
            height: 43px;
            padding: 0 1rem;
            margin-left: 1rem;
            border-radius: 10px;
            color: var(--white);

        }
        button:disabled{
            background-color: var(--blue-450);
            border: 1px solid var(--blue-150);
        }
        button:last-child{
            background-color: transparent;
            border: 1px solid var(--white);
        }

        .left{
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            :global{
                .ant-select-selector{
                    background-color: transparent;
                    border: none;
                }
                .ant-select-arrow{
                    color: var(--white);
                }
            }
        }

        .right{
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            div{
                height: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                padding: 1rem 0;

                label{
                    width: 2px;
                    height: 100%;

                    margin: 0 0.5rem;

                    background-color: var(--gray-600);
                }

                a{
                    color: var(--white);

                    &:hover{
                        color: var(--blue-100);
                    }
                }
            }

            .moreOptions{
                display: flex;
                justify-content: center;

                margin: 0 1rem;
            }

            :global{
                .ant-select-selector{
                    background-color: transparent;
                    border: none;
                    color: var(--white);
                    padding: 0 1rem;
                }
                .ant-select-arrow{
                    color: var(--white);
                }
            }
        }

    }

    .contentMobile{
        width: 100%;
        height: 100%;
        padding: 0 6.93rem;

        display: flex;
        justify-content: space-between;
        align-items: center;

        transition: padding 0.2s;

        @media (min-width: 1170px){
            display: none;
        }

        @media (max-width: 1170px){
            padding: 0 2.93rem;
        }

        h4{
            font-weight: 600;
            font-size: 25px;
        }
    }
}